{% load static %}


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<title>signup</title>
</head>
<body>
<div id="total" >
<div id="banner" style="background-image: url({% static 'img/blood2.jpg' %});">
    <h1>BLOOD BANK</h1>
</div>

<div id="msg">
  {% for message in messages %}
     <h3>## {{message}} ##</h3>
  {% endfor %} </div>
  
<form action="/signup/" method="POST">
    {% csrf_token %}

  <div class="container">
    <h2>Register</h2>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>User Name</b></label>
    <input type="text" placeholder="Enter Name" name="username" id="username" required>
    <span id="namespan" style="color: red;"></span><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" id="password" required>

    <label for="password1"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="password1" id="password1" required>
    <span id="passwordspan" style="color: red;"></span><br>


    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email" required>
    <span id="emailspan" style="color: red;"></span><br>


    <label for="phone"><b>Phone</b></label>
    <input type="text" placeholder="Enter phone number" name="phone" id="phone" required>

    <label for="bgroup"><b>Blood group</b></label>
    <input type="text" placeholder="Enter blood group" name="bgroup" id="bgroup" required>
    <hr>
    
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    
    <div id ='alerting' style="color:rgb(245, 170, 10)"></div>

    <button type="button" class="registerbtn" id="reg_butt">Register</button>
  </div>


  <div class="container signin">
    <p>Already have an account? <a href="/login/">Log-in</a>.</p>
  </div>

</form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$('#reg_butt').mouseenter(function(){
  $(this).css({'background':'blue'})
})
$('#reg_butt').mouseleave(function(){
  $(this).css({'background':'green'})
})



  $('#reg_butt').click(function(){

    
    var data={
      'csrfmiddlewaretoken': '{{csrf_token}}',

        username:$('#username').val(),
        password:$('#password').val(),
        password1:$('#password1').val(),
        email:$('#email').val(),
        phone:$('#password1').val(),
        bgroup:$('#password1').val()
         }
         
    if(data.username==''){
    $('#alerting').html('username can not be empty!')
     }
    else if(data.password==''){
    $('#alerting').html('password can not be empty!')
    }
    else{
    $.ajax({
    url: '/signup/' ,
    method:'POST',
    data:data,
    dataType:'json',      
    success:function(data){ 
      if(data.success){
      alert("user registered successfuly") 
      window.location.replace('/login/')
    }
    else{

      if(data.nameerror)
      {$('#namespan').html('*user name is already taken')}
      else{$('#namespan').hide()}

      if(data.passerror)
      {$('#passwordspan').html('*password not matching')}
      else{$('#passwordspan').hide()}

      if(data.emailerror)
      {$('#emailspan').html('*email is already taken ')}
      else{$('#emailspan').hide()}
     
      
    }
    
    }     
         
    })
  }
    })

</script>


</body>
</html>
